name: CI

on:
  push:
    branches:
        - master
  pull_request:
    branches:
        - master

jobs:
    build:
        name: 'Build and Push'
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                node-version: [22]
                os: [ubuntu-latest]
        
        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Setup NodeJs
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node-version }}
                cache: 'yarn'
            
            - name: Install dependencies
              run: yarn  
            
            - name: Running Tests
              run: yarn test

            - name: Generate Tag
              id: generate_tag
              run: |
                  SHA=$(echo $GITHUB_SHA | head -c7)
                  echo "sha=$SHA" >> $GITHUB_OUTPUT

            - name: Login into the Container Registry
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
            - name: Build Docker Image
              run: docker build -t italocarlo0604/aula-docker-ci-api:${{ steps.generate_tag.outputs.sha }} .
  

            - name: Push Docker Image to DockerHub
              run: docker push italocarlo0604/aula-docker-ci-api:${{ steps.generate_tag.outputs.sha }}

    deploy:
      name: Deploy on Digital Ocean
      runs-on: ubuntu-latest
      needs: build

      steps:
        - name: Checkout source code
          uses: actions/checkout@v4

        - name: Copy docker-compose file via ssh
          uses: appleboy/scp-action@v0.1.7
          with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USER }}
            password: ${{ secrets.PASSWORD }}
            source: "./docker-compose.yaml"
            target: "~/"

        

          
